// =========================================================
// File:        {{ .Filename }}
// Created:     {{ .Date }}
// Author:      {{ .Author }}
// Description: 
// =========================================================
#pragma once
#include <string>

class Example{
    public:
        Example(){}
        ~Example(){}
        std::string String();
};
