// =========================================================
// File:        {{ .Filename }}
// Created:     {{ .Date }}
// Author:      {{ .Author }}
// Description: 
// =========================================================
#include "example.h"

std::string Example::String(){
    return "Hello World!!!";
}
